
/*========================================== HEADER ========================================*/

header{
	width: 100%;
	background-color: #0D87AB;
	position:fixed;
	top:0;
	left:0;
}

/*	LOGO	*/

#logo{
	width: 20%;
	margin-left: 10%;
	position: relative;
}

#home{
	width: 20%;
}

/*	SEARCH	*/

#search{
	width: 25%;
}

#tekst{
	margin-left: 18%;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	padding-left: 1%;
	width: 80%;
}

#lupa{
	position:relative;
	width: 5%;
}

/*	USER	*/

#ime{
	width: 15%;
}

#username{
	margin-left: 40%;
	font-size: 85%;
	color: white;
	font-family: "Arial";
}

#username:hover{
	background-color: #0D87AD;
}

#slika{
	width: 10%;
}

#profilka{
	width: 40%;
}

/*========================================== CENTER ========================================*/
.center{
	margin-top: 5%;
	border-style: solid;
    border-width: 5px;
}
/*========================================== LEVO ========================================*/

/*========================================== DESNO ========================================*/